
html, body, :global(#root) {
  height: 100%;
}

.container{
  height: 500px;
  width:300px;
  padding:0;
  margin:0;
}

.layout a{
  padding:0 10px;
}

svg{
  box-sizing: content-box;
}

.axis--x text{
  font-size: 10px;
}

.axis text{
  font-size: 10px;
}

svg{
  overflow: visible;
}
